CONFIG_SYS_LOAD_ADDR=0x44000000
CONFIG_SYS_BOOTM_LEN=0x10000000
CONFIG_ENV_IS_IN_MMC=y
CONFIG_ENV_IS_IN_SPI_FLASH=n
CONFIG_ENV_SIZE=0x00010000
CONFIG_ENV_OFFSET=0x00428400
CONFIG_ENV_OFFSET_REDUND=0x00438400
# Hardcode DDR size/freq to avoid intermittent EEPROM I2C read failures in SPL
CONFIG_PHYCORE_IMX8MP_RAM_SIZE_FIX=y
CONFIG_PHYCORE_IMX8MP_RAM_SIZE_2GB=y
CONFIG_PHYCORE_IMX8MP_RAM_FREQ_FIX=y
CONFIG_PHYCORE_IMX8MP_USE_2GHZ_RAM_TIMINGS=y
